<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../grid-system/css/bootstrap.min.css">
    <link rel="stylesheet" href="../grid-system/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="buttons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<button class="btn btn-default">Button as button</button>

<input type="button" class="btn btn-default" value="Input as button">

<a class="btn btn-default" href="#">Link as button</a>

</body>
</html>