<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../grid-system/css/bootstrap.min.css">
    <link rel="stylesheet" href="navs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<ul class="nav nav-tabs">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li class="active"><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    <li><a href="#">Five</a></li>
</ul>


<ul class="nav nav-justified">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li class="active"><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    <li><a href="#">Five</a></li>
</ul>

<ul class="nav nav-stacked">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li class="active"><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    <li><a href="#">Five</a></li>
</ul>

</body>
</html>