<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../grid-system/css/bootstrap.min.css">
    <link rel="stylesheet" href="../grid-system/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="panels.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="panel-title">
                My heading title
            </div>
        </div>
        <div class="panel-body">
            My fantastic panel
        </div>
        <div class="panel-footer">
            My panel footer
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                My heading title
            </div>
        </div>
        <div class="panel-body">
            My fantastic panel
        </div>
        <div class="panel-footer">
            My panel footer
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                My heading title
            </div>
        </div>
        <div class="panel-body">
            My fantastic panel
        </div>
        <div class="panel-footer">
            My panel footer
        </div>
    </div>

</div>

</body>
</html>